@import '../../styles/variables.scss';
:host { box-sizing: border-box; }
:host([disabled]) { pointer-events: none; }

$small: 18px;
$large: 32px;
/** Spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $blue-steel;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

/** spinner types */
.loading_small:before {
  width: $small;
  height: $small;
  margin-top: 1px;
  margin-left: -7px;
}
.loading_large {
  width: 19px;
}
.loading_large:before {
  width: $large;
  height: $large;
  margin-top: -6px;
  margin-left: -17px;
}
.loading_default:before {
  width: 18px;
  height: 18px;
  margin-top: 1px;
  margin-left: -7px;
}

/** type: square */
.square_spinner {
  display: inline-block;
  background-color: #0074d9;
  font-size: 1px;
  padding: 1px;
  color: white;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: .7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Buttons */
button:focus {outline:0;}
button {
  transition: min-width 1s;
  min-height: 3.5vw;
  min-width: 20%;
	font-family: $font-family;
	cursor: pointer;
	border: none;
	background-color: $blue-steel;
	color: $white;
	line-height: 20px;
	font-size: 14px;
	padding: 4px 12px;
	border-radius: 3px;
  &:hover { background-color: $blue-steel-dark; }
  &:active { background-color: darken($blue-steel-dark, 5%); }
  &:disabled { opacity: 0.4; }
  // color variations
  &.accent {
    background-color: $coral;
    &:hover { background-color: $coral-dark; }
    &:active { background-color: darken($coral-dark, 10%); }
  }
  &.light {
    background-color: $light;
    color: rgba(0, 0, 0, 0.7);
    &:hover { background-color: $light-dark; }
    &:active { background-color: darken($light-dark, 10%); }
  }
  // Shape variations
  &.round { border-radius: 50px; }
  // Size variations
  &.small {
    padding: 2px 8px;
    font-size: 12px;
  }
  &.large {
    padding: 8px 20px;
    font-size: 16px;
  }
  &.loading {
    min-width: .5vw;
  }
}

/** Success checkmark */
$brand-success: #5cb85c;
$loader-size: 3em;
$check-height: $loader-size/2.5;
$check-width: $check-height/2.5;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

@keyframes checkmark_small_animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
@keyframes checkmark_large_animation {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width+.1;
    opacity: 1;
  }
  40% {
    height: $check-height+.5;
    width: $check-width+.4;
    opacity: 1;
  }
  100% {
    height: $check-height+.5;
    width: $check-width+.4;
    opacity: 1;
  }
}

.checkmark {
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  &:after {
    opacity: 1;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    position: absolute;
  }
}
.checkmark_small {
  &.draw:after {
    animation-name: checkmark_small_animation;
  }
  &:after {
    height: $check-height;
    width: $check-width;
    left: $check-left;
    top: $check-height+3.5;
  }
}
.checkmark_default {
  &.draw:after {
    animation-name: checkmark_small_animation;
  }
  &:after {
    height: $check-height;
    width: $check-width;
    left: $check-left;
    top: $check-height+3.5;
  }
}
.checkmark_large {
  &.draw:after {
    animation-name: checkmark_large_animation;
  }
  &:after {
    height: $check-height+.5;
    width: $check-width+.4;
    left: $check-left;
    top: $check-height+2.7;
  }
}
