// Font Family
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Basic Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$blue-steel: #68c3c0;
$blue-steel-dark: #33807d;
$coral: #F25346;
$coral-dark: #c75943; //
$light: #D8D0D1;
$light-dark: #7d686b;

/**
 * @prop --background: Background of the button
 * @prop --background-activated: Background of the button when activated
 * @prop --background-focused: Background of the button when focused
 */